body {
    background-image: url('./assets/images/background1.png');
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    height: 100vh;
    margin: 0;
}

@media ( min-height: 650px) {
    body {
        background-position: center center;
    }
}